body {
  background: #333;
  color: #fff;
}
.navbar {
  border-bottom: #008ed6 3px solid;
}
#home-section {
  background: url(../project_images/looplab/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}
.home-inner {
  padding-top: 150px;
}
nav {
  opacity: 0.9;
}
/* .card-form {
  opacity: 0.8;
} */
.sbmt {
  font-size: 1.1rem;
}
#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
}
#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
